.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 42px;
}

.passwords {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin: 10px;
}

.more {
  font-size: 22px;
  font-family: "Courier New", monospace;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: darkslategrey;
  border-color: antiquewhite;
}

.more:hover {
  background-color: lightskyblue;
}

.more:active {
  background-color: rgb(6, 145, 238);
}